@use "../../../scss/main.scss" as main;

.section {
  margin: 5.625em 21em;

  .reset {
    margin-bottom: 3.75rem;
    h1 {
      @include main.text-heading;
      margin-bottom: 1rem;
    }
  }

  .input__wrap {
    display: flex;
    flex-direction: column;

    &_element {
      margin-bottom: 1.5em;
      input[type="password"] {
        @include main.input-style;
        width: 100%;
      }
      input[type="konfirmasi"] {
        @include main.input-style;
        width: 100%;
      }
    }

    &_nav {
      @include main.clear-list-style;
      display: flex;
      margin-top: 2.5em;
      .cancel {
        @include main.button-outline;
        width: 140px;
      }

      .confirm {
        @include main.button;
        width: 140px;
        margin-top: 2.5em;
        margin-bottom: 1.5em;
        margin-left: 1.5em;
      }
    }
  }
}

.invalid {
  font-size: 0.775em;
  opacity: 0.8;
  color: red;
  font-style: italic;
  padding: 0 12px;
  margin-top: 5px;
}

.border_invalid {
  border-color: red !important;
}

@media (max-width: 63.75em) {
  .section {
    margin: 5.625em 10em;
  }
}

@media (max-width: 55em) {
  .section {
    margin: 5.625em 3em;
  }
}
