@use "../../scss/main.scss" as main;

.product {
  display: flex;
  flex-grow: 2;
  //   align-items: center;

  &__image {
    // width: 100%;
    object-fit: cover;
    height: 100%;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    margin-left: 2em;
    // padding: 0.5em 0;
    & > h1 {
      font-family: Poppins;
      font-size: 1em;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: main.$grayColor;
    }

    & > h2 {
      font-family: Poppins;
      font-size: 1.5em;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: justify;
      margin-top: 1em;
    }

    & > h3 {
      font-family: Poppins;
      font-size: 1em;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: main.$grayColor2;
      margin-top: 1em;
    }

    & > h4 {
      font-family: Poppins;
      font-size: 1.25em;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
      color: main.$secondaryColor;
      margin-top: 1em;
    }
  }
}

@media (max-width: 63.75em) {
  .product {
    flex-direction: column;
    &__image {
      max-width: 300px;
    }

    &__desc {
      margin-left: 0;
      margin-top: 2em;
    }
  }
}

@media (max-width: 55em) {
  .product {
    width: 100%;
  }
}
