@mixin button($paddingTB: 0.8rem, $paddingLR: 1.4rem) {
  padding: $paddingTB $paddingLR;
  background-color: $secondaryColor;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-family: $font;
  font-size: 1em;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;

  transition: filter 0.2s ease;

  &:hover {
    filter: brightness(120%);
  }
}

@mixin button-outline($paddingTB: 0.8rem, $paddingLR: 1.4rem) {
  padding: $paddingTB $paddingLR;
  background-color: white;
  border: 1px solid $secondaryColor;
  color: $secondaryColor;
  text-decoration: none;
  border-radius: 8px;
  font-family: $font;
  font-size: 1em;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;

  transition: background-color 0.2s ease;
  transition: color 0.2s ease;

  &:hover {
    background-color: $secondaryColor;
    color: white;
  }
}

@mixin text-heading {
  font-family: Poppins;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

@mixin text-description($color: $textColor, $font_size: 1em) {
  font-family: Poppins;
  font-size: $font_size;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: $color;
}

@mixin input-style {
  border: 1px solid $borderColor;
  border-radius: 4px;
  padding: 12px;
  font-size: 0.875em;

  &::placeholder {
    color: $inputColor;
    font-family: Poppins;
    font-size: 0.875em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@mixin clear-list-style {
  padding-left: 0;
  li {
    list-style: none;
  }
}
