@use "../../scss/main.scss" as main;

.cart {
  .product__list {
    margin: 2.5em 4.5em;
    .garis_atas {
      background-color: main.$grayColor;
      height: 1px;
      width: 100%;
      padding-left: 2em;
    }
  }
  .label {
    span {
      margin-left: 2em;
    }
  }

  .end_line {
    margin-top: 5.4em;
    height: 1px;
    background-color: main.$grayColor;
  }

  .total_price {
    margin: 2.5em 4.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .price {
      display: flex;
      align-items: center;
      h1 {
        font-family: Poppins;
        font-size: 1.125em;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: main.$grayColor2;
      }
      h2 {
        font-family: Poppins;
        font-size: 1.5em;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        color: main.$secondaryColor;
        margin-left: 1.5em;
      }
    }

    .button {
      @include main.button(0.8em, 3.2em);
      text-decoration: none;
      border: none;
      outline: none;
      font-family: Poppins;
      font-size: 1em;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      cursor: pointer;
    }
  }

  .modal_payment {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: main.$bgModalColor;
    z-index: 2;
    // height: 100%;
  }

  .payment_method {
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}

//  -------------- MUI Custom ------------------

.checkbox__wrapper {
  .custom {
    display: flex;
    align-items: center;
    margin: 2em;

    label {
      flex-basis: 82%;
    }

    .button_delete {
      display: flex;
      align-items: center;
      flex-grow: 1;
      text-align: center;
      justify-content: center;
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: none;

      p {
        margin-left: 1em;
        font-family: Poppins;
        font-size: 1em;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        text-transform: capitalize;
      }
    }
  }

  .garis {
    background-color: main.$grayColor;
    height: 1px;
  }
}

//  -------------- Media Queries ------------------

@media (max-width: 63.75em) {
  .checkbox__wrapper {
  }
}

@media (max-width: 55em) {
  .cart {
    .product__list {
      margin: 2.5em 1em;
    }

    .total_price {
      margin: 3.5em 3em;
      flex-direction: column;
      align-items: stretch;
      .price {
        justify-content: space-between;
      }
      .button {
        margin-top: 2em;
        text-align: center;
      }
    }
  }

  .checkbox__wrapper {
    .custom {
      flex-direction: column;
      // justify-content: flex-start;
      align-items: flex-start;

      button {
        margin-top: 3em;
      }
    }
  }
}
