@use "../../scss/main.scss" as main;

.payment {
  .body {
    min-height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__image {
      img {
        width: 250px;
      }
    }

    &__message {
      text-align: center;
      margin: 1.5em 0;
      & > h1 {
        font-family: Poppins;
        font-size: 1.5em;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0em;
        color: main.$secondaryColor;
      }

      & > p {
        font-family: Poppins;
        font-size: 1em;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        color: main.$grayColor2;
        margin-top: 1em;
      }
    }

    &__buttons {
      margin-top: 2.5em;
      ul {
        display: flex;
        padding-left: 0;
        li {
          list-style: none;

          .beranda {
            @include main.button-outline(1em, 2.5em);
            span {
              margin-left: 0.5em;
            }
          }

          .invoice {
            @include main.button(1em, 2.5em);
            span {
              margin-left: 0.5em;
            }
          }

          &:nth-child(2) {
            margin-left: 1.5em;
          }
        }
      }
    }
  }
}
