@use "../../scss/main.scss" as main;
.main {
  // ------------------ Hero  ---------------------
  .hero {
    position: relative;
    &__image {
      background-size: cover;
      width: 100%;
      min-height: calc(100vh - 85px);
      background-position: center;
      object-fit: cover;
    }

    &__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .heading1 {
        font-family: Poppins;
        font-size: 2em;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: center;
        color: white;
        margin-bottom: 1.8em;
      }

      .heading2 {
        font-family: Poppins;
        font-size: 1.5em;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
        color: white;
        margin-bottom: 3.75em;
      }

      .hero_card {
        display: flex;

        div:not(:last-child) {
          margin-right: 2.5em;
        }
      }
    }
  }

  // ------------------ explore kelas ---------------------
  .explore_kelas {
    margin: 5em 5.69em 12em;
    text-align: center;

    .head {
      margin-bottom: 3.85em;
      & > h1 {
        font-family: Inter;
        font-size: 1.5em;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0em;
        color: main.$secondaryColor;
      }
    }

    .explore {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      //   grid-template-rows: 1fr;
      row-gap: 2.5em;
      column-gap: 1.5em;
      justify-items: center;

      a {
        text-decoration: none;
      }
    }
  }

  // ------------------ List kelas ---------------------
  .list_kelas {
    padding: 5em 5.69em;
    text-align: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: main.$irish60Color;
      opacity: 0.1;
      z-index: -1; // Place the pseudo-element behind the content
    }

    .head {
      margin-bottom: 3.85em;
      & > h1 {
        font-family: Inter;
        font-size: 1.5em;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0em;
        color: main.$secondaryColor;
      }
    }

    .explore {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      //   grid-template-rows: 1fr;
      row-gap: 4.2em;
      column-gap: 1.5em;
      justify-items: center;

      a {
        text-decoration: none;
      }
    }
  }

  // ------------------ Benefit ---------------------
  .benefit {
    margin: 5.69em;
    padding: 5em 5.69em;
    display: flex;
    align-items: center;
    position: relative;

    .images {
      .bulat {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }

      .orang_gitar {
      }
    }

    .brand {
      padding-left: 4em;
      .title {
        font-family: Inter;
        font-size: 1.5em;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        color: main.$secondaryColor;
      }
    }

    .desc {
      margin-top: 1.5em;
      font-family: Poppins;
      font-size: 1em;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: justify;
    }
  }
}

// ---------------- Media Queries - Responsive --------------------

@media (max-width: 63.75em) {
  .main {
    .hero {
      &__content {
        width: 100%;
        .heading1 {
          font-size: 1.7em;
        }

        .heading2 {
          font-size: 1.4em;
          margin-bottom: 1em;
        }

        .hero_card {
          flex-basis: 100%;
          flex-wrap: wrap;
          justify-content: center;

          div:not(:last-child) {
            margin-right: 0;
          }
          div {
            margin-right: 0;
            margin-top: 2em;
          }
          div:nth-child(2) {
            margin-left: 2em;
          }
        }
      }
    }

    .explore_kelas {
      div.explore {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .benefit {
      margin: 7.2em 5.68em;
      padding: 0;
      flex-direction: column;

      .images {
        .bulat {
          top: -10%;
        }
        .orang_gitar {
          margin-left: -30%;
        }
      }

      .brand {
        padding-left: 0;
        margin-top: 4em;
      }
    }
  }
}

@media (max-width: 55em) {
  .main {
    .hero {
      &__content {
        width: 80%;
        .hero_card {
          flex-direction: column;
          flex-wrap: nowrap;
          align-items: center;
          div:nth-child(2) {
            margin-left: 0;
          }
        }
      }
    }

    .list_kelas {
      padding: 5em 3em;

      .explore {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .explore_kelas {
      margin: 5em 3em 12em;
      div.explore {
        grid-template-columns: 1fr;
      }
    }

    .benefit {
      margin: 7.2em 3em;
    }
  }
}
