@use "../../../scss/main.scss" as main;

.heroCard {
  padding: 3em 1em;
  text-align: center;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;

  & > h1 {
    font-family: Poppins;
    font-size: 3em;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 1em;
    color: main.$blueColor;
  }

  & > h2 {
    font-family: Poppins;
    font-size: 1em;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
  }
}

@media (max-width: 63.75em) {
}

@media (max-width: 55em) {
  .heroCard {
    width: 300px;

    & > h1 {
      font-size: 1.5em;
      line-height: 40px;
    }

    & > h2 {
      font-size: 0.875em;
    }
  }
}
