@use "../../../scss/main.scss" as main;

.kelas_wrap {
  max-width: 350px;
  min-height: 400px;
  transition: all 0.2s ease;

  .image_wrap {
  }

  .description {
    .title {
      font-family: Poppins;
      font-size: 1em;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: main.$grayColor;
      margin-bottom: 0.5em;
      margin-top: 1em;
    }

    .desc {
      font-family: Poppins;
      font-size: 1.2em;
      font-weight: 600;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: left;
      color: black;
      min-height: 100px;
    }

    .price {
      font-family: Poppins;
      font-size: 1.2em;
      font-weight: 600;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: left;
      color: main.$secondaryColor;
    }
  }

  &:hover {
    transform: translateY(-5px);
    opacity: 0.8;
  }
}
