@use "../../scss/main.scss" as main;

.header {
  padding: 1.5em 3.2em;
  background-color: main.$primaryColor;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-link {
      padding-left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        list-style: none;
        .register {
          font-size: 1em;
          color: black;
          text-decoration: none;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
        }

        .login {
          margin-left: 2.5em;
          @include main.button;
        }
      }
    }
  }
}

// ------------------------ Hamburger Menu ---------------//
.burger_menu {
  button {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
  }
}

.header {
  &__nav {
    &-link {
      &.hidden {
        display: none !important;
        visibility: none;
      }
    }
  }
}

.menu_hidden {
  display: none;
  visibility: none;
}

.menu_active {
  padding-left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  bottom: 0;
  left: 50%;
  z-index: 12;
  transform: translate(-50%, -50%);
  background-color: main.$primaryColor;
  width: 320px;
  border-radius: 20px;
  li {
    list-style: none;
    .register {
      font-size: 1em;
      color: black;
      text-decoration: none;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }

    .login {
      // margin-left: 2.5em;
      @include main.button;
    }
  }
}

.modal_active {
  position: fixed;
  z-index: 7;
  background-color: main.$bgModalColor;
  top: 86.4px;
  left: 0;
  bottom: 0;
  right: 0;
}
