@use "../../../scss/main.scss" as main;

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 2;
    min-height: calc(100vh - 150px);

    .images{

        width: 250px;
    }

    .email_confirm {
        margin-top: 2.5em;

        h1 {
            @include main.text-heading;
            text-align: center;
            color: main.$secondaryColor;
            font-weight: 500;
        }

        p {
            @include main.text-description;
            margin-bottom: 2.5em;
        }
    }

    .tombol {
        a {
            @include main.button;
        text-decoration: none;
        }
    }

}