@use "../../../scss/main.scss" as main;

.section {
  margin: 5.625em 21em;

  .welcome {
    margin-bottom: 3.75rem;
    h1 {
      @include main.text-heading;
      margin-bottom: 1rem;
    }

    h2 {
      @include main.text-description;
      text-align: left;
    }
  }

  .input_warp {
    display: flex;
    flex-direction: column;
    &__element {
      margin-bottom: 1.5em;

      &_warp__element {
        width: 100%;
      }

      input[type="nama"] {
        @include main.input-style;
        width: 100%;
      }

      input[type="email"] {
        @include main.input-style;
        width: 100%;
      }

      input[type="password"] {
        @include main.input-style;
        width: 100%;
      }

      input[type="konfirmasi"] {
        @include main.input-style;
        width: 100%;
      }
    }
    .input_button {
      display: flex;
      margin-top: 2.5em;
      align-items: center;
    }

    .signUp {
      @include main.button;
      width: 140px;
    }

    .login {
      @include main.text-description(black);
      margin-left: 1.5em;
      a {
        text-decoration: none;
        color: main.$blueColor;
      }
    }
  }
}

.invalid {
  font-size: 0.775em;
  opacity: 0.8;
  color: red;
  font-style: italic;
  padding: 0 12px;
  margin-top: 5px;
}

.border_invalid {
  border-color: red !important;
}

@media (max-width: 63.75em) {
  .section {
    margin: 5.625em 10em;
  }
}

@media (max-width: 55em) {
  .section {
    margin: 5.625em 3em;
  }
}
