@use "../../scss/main.scss" as main;

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: main.$primaryColor;
  padding: 2em 5.69em;

  .about {
    flex-basis: 33%;

    & > h1 {
      font-family: Poppins;
      font-size: 1em;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      min-height: 40px;
    }

    & > p {
      font-family: Poppins;
      font-size: 0.875em;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: justify;
    }
  }

  .product {
    flex-basis: 33%;
    margin: 0 5em;

    & > h1 {
      font-family: Poppins;
      font-size: 1em;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      min-height: 40px;
    }

    & > div {
      display: flex;

      ul:nth-child(2) {
        padding-left: 5em;
      }
    }

    & ul {
      padding-left: 16px;
      li {
        font-family: Poppins;
        font-size: 0.875em;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: justify;
        margin-top: 0.5em;
      }
    }
  }

  .contact {
    flex-basis: 33%;

    .top {
      & > h1 {
        font-family: Poppins;
        font-size: 1em;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        min-height: 40px;
      }

      & > p {
        font-family: Poppins;
        font-size: 0.875em;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: justified;
      }
    }

    .bottom {
      margin-top: 1em;
      & > h1 {
        font-family: Poppins;
        font-size: 1em;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        min-height: 40px;
      }

      ul {
        list-style: none;
        display: flex;
        align-items: center;
        padding-left: 0;

        li {
          transition: all 0.2s ease;
          a {
            width: 50px;
            height: 50px;
            text-decoration: none;
            border-radius: 50%;
            background-color: main.$secondaryColor;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          &:not(:last-child) {
            margin-right: 1em;
          }

          &:hover {
            opacity: 0.8;
            transform: translateY(-2px);
          }
        }
      }
    }
  }
}

@media (max-width: 63.75em) {
  .footer {
    flex-direction: column;
    padding: 3em 5.69em;

    .product {
      margin: 0;
      margin-top: 3em;
      margin-bottom: 3em;
    }

    .contact {
      .bottom {
        margin-top: 2em;
      }
    }
  }
}

@media (max-width: 55em) {
  .footer {
    padding: 3em;
  }
}
