@use "../../scss/main.scss" as main;

.header {
  padding: 1.5em 3.2em;
  background-color: transparent;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
