@use "../../scss/main.scss" as main;

.detail_course {
  // ------------------ Hero  ---------------------
  .hero {
    padding: 3.375em 4.375em;

    .product {
      display: flex;
      min-height: 350px;

      &__image {
        flex-grow: 0.2;
        .product_image {
          min-width: 500px;
          min-height: 280px;
          object-fit: cover;
        }
      }

      &__caption {
        flex-grow: 2;
        margin-left: 1em;
        & > h1 {
          font-family: Poppins;
          font-size: 1em;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: main.$grayColor;
        }

        & > h2 {
          font-family: Poppins;
          font-size: 1.5em;
          font-weight: 600;
          line-height: 36px;
          letter-spacing: 0em;
          text-align: left;
          margin: 0.5em 0;
        }

        & > h3 {
          font-family: Poppins;
          font-size: 1.5em;
          font-weight: 600;
          line-height: 36px;
          letter-spacing: 0em;
          text-align: left;
          color: main.$secondaryColor;
        }

        .select {
          margin-top: 2em;
          min-height: 110px;
        }

        .button_wrap {
          margin-top: 1em;
          display: flex;
          .checkout {
            @include main.button-outline;
          }
          .purchase_now {
            @include main.button(0.8em, 3.75em);
            margin-left: 1em;
          }
        }
      }
    }

    .description {
      margin-top: 2.5em;
      & > h1 {
        font-family: Poppins;
        font-size: 1.5em;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
      }

      & > p {
        margin-top: 1em;
        font-family: Poppins;
        font-size: 1em;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: justify;
      }
    }
  }

  // ------------------ Kelas Lain yang kamu Suka  ---------------------
  .you_like {
    margin: 9.2em 5.69em;
    text-align: center;
    & > h1 {
      font-family: Inter;
      font-size: 1.5em;
      font-weight: 600;
      line-height: 29px;
      letter-spacing: 0em;
      color: main.$secondaryColor;
      margin-bottom: 3.85em;
    }

    .explore {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      //   grid-template-rows: 1fr;
      row-gap: 3.5em;
      column-gap: 1.5em;
      justify-items: center;

      a {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 63.75em) {
  .detail_course {
    .hero {
      .product {
        flex-direction: column;

        &__image {
          .product_image {
            min-width: 0;
            min-height: 0;
            height: 100%;
          }
        }

        &__caption {
          margin-left: 0;
          margin-top: 2em;
        }
      }
    }

    .you_like {
      .explore {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (max-width: 55em) {
  .detail_course {
    .hero {
      .product {
        &__image {
          .product_image {
            width: 100%;
          }
        }
      }
      padding: 3.375em 3em;
    }
    .you_like {
      .explore {
        grid-template-columns: 1fr;
      }
    }
  }
}
