@use "scss/main.scss" as main;

:root {
  box-sizing: border-box;

  font-weight: 400;
  font-size: 1em;
  font-family: main.$font;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}

body {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0;
}
