$primaryColor: #f2c94c;
$secondaryColor: #5d5fef;
$blueColor: #2f80ed;
$grayColor: #828282;
$grayColor2: #4f4f4f;

$irish60Color: #a5a6f6;

$borderColor: #cfd6e5;
$inputColor: #333333;
$textColor: #4f4f4f;
$bgModalColor: rgba(61, 61, 61, 0.5);

$font: "Poppins";
