@use "../../../scss/main.scss" as main;

.classList_wrap {
  transition: all 0.2s ease;

  .image_wrap {
  }

  .description {
    margin-top: 1.5em;
    .title {
      font-family: Poppins;
      font-size: 1.5em;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: center;
      color: black;
    }
  }

  &:hover {
    transform: translateY(-5px);
    opacity: 0.8;
  }
}
