@use "../../scss/main.scss" as main;

.payment {
  background-color: white;
  width: 375px;
  border-radius: 10px;
  padding: 1.6em;

  & > h1 {
    font-family: Poppins;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 1.5em;
  }

  &__method {
    .wrapper {
      display: flex;
      align-items: center;
      padding: 1em;
      padding-left: 0.2em;
      cursor: pointer;

      &.active_1 {
        border: 1px solid green;
        border-radius: 5px;
      }

      &.active_2 {
        border: 1px solid green;
        border-radius: 5px;
      }

      &.active_3 {
        border: 1px solid green;
        border-radius: 5px;
      }

      &.active_4 {
        border: 1px solid green;
        border-radius: 5px;
      }

      &.active_5 {
        border: 1px solid green;
        border-radius: 5px;
      }

      &.active_6 {
        border: 1px solid green;
        border-radius: 5px;
      }

      &:not(:nth-child(1)) {
        margin-top: 0.5em;
      }

      & > h1 {
        font-family: Poppins;
        font-size: 1.125em;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 1em;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .choose_first {
    font-family: Poppins;
    font-size: 0.875em;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin: 1em 0;
    color: red;
  }

  &__button {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .button_cancel {
      display: block;
      @include main.button-outline();
      flex-basis: 50%;
    }

    .button_pay {
      display: block;
      @include main.button();
      flex-basis: 50%;
      margin-left: 1em;
    }
  }
}
