@use "../../scss/main.scss" as main;

.main {
  // ------------------ Hero  ---------------------
  .hero {
    &__image {
      width: 100%;
    }

    .description {
      padding: 3.375em 4.375em;
      & > h1 {
        font-family: Poppins;
        font-size: 1.5em;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
      }

      & > p {
        margin-top: 1em;
        font-family: Poppins;
        font-size: 1em;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }

  // ------------------ Kelas yang tersedia  ---------------------
  .available {
    margin: 9.2em 5.69em;
    text-align: center;
    & > h1 {
      font-family: Inter;
      font-size: 1.5em;
      font-weight: 600;
      line-height: 29px;
      letter-spacing: 0em;
      color: main.$secondaryColor;
      margin-bottom: 3.85em;
    }

    .explore {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      //   grid-template-rows: 1fr;
      row-gap: 2.5em;
      column-gap: 1.5em;
      justify-items: center;

      a {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 63.75em) {
  .main {
    .hero {
      .description {
      }
    }
    .available {
      .explore {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (max-width: 55em) {
  .main {
    .hero {
      .description {
        padding: 3.375em 3em;
      }
    }

    .available {
      .explore {
        grid-template-columns: 1fr;
      }
    }
  }
}
